
@media only screen and (max-width : 992px) {
	.check_list .form_input {flex-wrap: wrap; justify-content: space-between;}
	.check_list li:nth-child(3),
	.check_list li:nth-child(4) {margin-right: 0;}
	.check_list li:nth-child(4),
	.check_list li:nth-child(5) {min-width: 100%; text-align: center;}
	.check_list li:nth-child(5) > * {display: inline-block;}
	.check_list input {width: 220px;}
	.arrow_check_list{display:inline-block;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);margin-top:10px;margin-bottom:7px}
    /*-------*/
    .sect_1_h1 h1 {font-size: 22px; line-height: 33px;}
    .descr_h1 span {font-size: 23px; line-height: 26px;}
    .section_1 .send_butt {font-size: 17px;}
    .descr_h1 p {font-size: 19px; line-height: 26px;}
    .descr_h1 {padding: 0 14px 12px 12px;}
    .sect_1_h1 {margin-bottom: 63px; margin: -35px 0 40px -30px; padding: 30px 20px 28px 34px;}
    .sect_1_h1 h1 p {font-size: 21px; line-height: 30px; margin-top: 11px;}
    .regist_sect_1 {margin-top: 44px;}
    /*-------*/
    .h1_title span {font-size: 24px; line-height: 30px;}
    .eventually_inner_cont p {font-size: 15px;}
    .inner_contain_quest p {font-size: 13px; line-height: 29px;}
    .list_question_sect_2 li {padding-left: 40px;}
    .list_question_sect_2 li:before {width: 35px;}
    .eventually_h2 {font-size: 24px; line-height: 28px;}
    /*-------*/
    .title_sect {font-size: 26px;line-height: 32px;}
    .sect_6_program .title_sect {font-size: 27px;line-height: 32px;}
    /*-------*/
	.format_item {max-width: 283px; width: 100%; min-height: 149px; padding: 14px 26px 13px;}
	.bonus_price_time {flex-wrap: wrap; justify-content: center;}
	.bonus_price {margin-bottom: 15px;}
    /*-------*/
	.experience_item:nth-child(2):after {right: -102px; width: 95px;}
	.experience_item:nth-child(2):before {left: -83px; width: 82px;}
	.list_advantages {flex-wrap: wrap;}
	.advantages_item {width: 45%;}
	.advantages_item:nth-child {margin-right: 0;}
    /*-------*/
    .benefit_item {margin-left: 83px;}
    /*-------*/
    .wrap_program {flex-wrap: wrap; justify-content: center;}
    .wrap_program_item {max-width: 430px;}
    .wrap_program_item:first-child {margin-bottom: 15px;}
    /*------*/
    .list_program {padding-top: 25px; padding-bottom: 33px;}
    .list_program li {margin-bottom: 12px;}
    /*------*/
    .sect_6_program {padding-top: 39px; padding-bottom: 24px;}
    .list_advantages {padding-right: 30px; padding-left: 30px; margin-bottom: 30px !important;}
	.slick-slider .advantages_item {padding-right: 40px; padding-left: 40px; margin-bottom: 0;}
}
@media only screen and (max-width : 768px) {
	.list_program_wrap {margin-top: 0;}
	header {padding-top: 20px; padding-bottom: 20px;}
	.number_h {margin-bottom: 35px;}
	.number_h a {font-size: 21px;}
	.time_h_item p {font-size: 20px;}
	.time_h_item span {font-size: 15px;}
	.time_h_item i{width: 21px; height: 36px; background: url(../images/img3.png) no-repeat 0 0; -webkit-background-size: cover; background-size: cover;}
	/*-------*/
	.head_cont {padding-top: 60px;}
	.wrapper h2 {font-size: 35px; line-height: 40px;}
	.title_page p {font-size: 16px; line-height: 20px;}
	.title_page {padding-top: 35px; line-height: 40px;}
	/*-------*/
	.sect_1_displ_flex {padding-bottom: 20px;}
	.sect_1_displ_flex > * {width: 100%;}
	.title_sect_1 {margin-left: 0; max-width: 100%;}
	.sect_1_h1 {margin: 0 0 25px; max-width: 100%;}
	.sect_1_h1 h1 br {display: none;}
	.sect_1_h1 h1 {text-align: left; font-size: 19px; line-height: 28px;}
	.sect_1_h1 {padding: 22px 26px 20px;}
	.descr_h1 {padding-right: 0; padding-left: 25px;}
	.descr_h1 p { font-size: 18px; line-height: 21px;}
	.descr_h1 p span {font-size: 22px; line-height: 28px;}
	.descr_h1 p br {display: none;}
	.title_sect_1 {min-width: 300px; margin-right: 25px;}
	.regist_sect_1 {margin-left: 0;}
	.section_1 .form_input li:nth-child(2),
	.section_1 .form_input li:first-child {display: inline-block; width: 49.3%;}
	/*-------*/
	.benefits_list {flex-wrap: wrap; justify-content: center; padding: 0 100px;}
	.benefit_item {margin-left: 0 !important; width: 100%; max-width: 300px; padding-left: 25px; width: 100%;}
	.benefit_item span {font-size: 60px; line-height: 57px; left: 24px  !important; top: 6px; z-index: 1;}
	.benefit_title {padding-left: 42px;}
	/*-------*/
	.inner_contain_quest p {font-size: 13px; line-height: 22px;}
	.inner_contain_quest i {font-size: 51px; line-height: 42px; top: initial; bottom: 0; height: auto;}
	/*-------*/
	.h1_title {padding-left: 0; padding-right: 0;}
	/*-------*/
	.section_3 .bg_sect_3 {padding-top: 40px;}
	/*-------*/
	.section_6 {padding-top: 0; padding-bottom: 0;}
	.check_list .form_input {justify-content: center;}
	.check_list li {margin-right: 15px;}
	.check_list input {width: 100%;}
	/*-------*/
	.section_5 .title_sect {padding: 30px 15px 21px;}
	.list_experience {flex-wrap: wrap; padding-bottom: 25px;}
	.experience_item {width: 100%;}
	.experience_item:nth-child(2) {padding: 0 0; margin: 0 0;}
	/*.experience_item:nth-child(2):after {right: -102px; width: 95px;}
	.experience_item:nth-child(2):before {left: -83px; width: 82px;}*/
	.experience_item:nth-child(2):before,
	.experience_item:nth-child(2):after {display: none;}
	.experience_item:nth-child(1),
	.experience_item:nth-child(2) {width: 50%;}
	.experience_item:last-child {margin-top: 25px;}
	.list_advantages {align-items: flex-start;}
	/*-------*/
	.section_6 .container {padding: 0;}
	.sect_6_program {padding: 30px 0;}
	/*-------*/
	.call_me_win_open {width: 70px; height: 70px; right: 4%; bottom: 4%;}
	.up_back {left: 8%; bottom: 7%;}
	/*-------*/
	.questionnaire_contain {padding-top: 35px; padding-bottom: 35px;}
	/*-------*/
	.section_8 {padding-top: 35px; padding-bottom: 35px;}
	/*-------*/
	.form_win {width: 100%; height: 100%; padding: 30px 30px;}
	.advantages_item > p {font-family: MuseoSansCyrl500, sans-serif;}
	.advan_title {flex-wrap: wrap; justify-content: center;}
	.advan_title span {font-family: MuseoSansCyrl700, sans-serif; /*text-align: center;*/ text-align: left; min-width: 100%; display: block; margin-top: 15px;}
	.advan_title i {margin-right: 0;}
	.advan_title span br {display: none !important;}
	.advantages_item {margin-bottom: 0;}
	
	.section_5 .title_sect.mod-title br {display: block;}
}
@media only screen and (max-width : 730px) {
	.formats {flex-wrap: wrap; justify-content: space-around; margin-top: 25px;}
	.format_item:first-child {margin-bottom: 15px;}
	/*-------*/
	.call_me_win_open {bottom: 11%;}
	.up_back {bottom: 14%;}
	/*-------*/
	.ft_info {min-height: initial; flex-wrap: wrap; justify-content: center; align-items: center;}
	.ft_info_item:first-child {
		-webkit-order: 2;
	    -ms-flex-order: 2;
	    order: 2;
	    -webkit-box-ordinal-group: 2;
	    box-ordinal-group: 2;
	    min-width: 100%;
	    text-align: center;
	}
	.ft_info_item:last-child {
		text-align: center;
		-webkit-order: 1;
	    -ms-flex-order: 1;
	    order: 1;
	    -webkit-box-ordinal-group: 1;
	    box-ordinal-group: 1;
	}
}
@media only screen and (max-width : 680px) {
	.choices_two {flex-wrap: wrap;}
	.choice_title:after {height: 44px;}
	.choice_title {font-size: 28px;}
	.choice_item { max-width: 300px; margin: 0 15px;}
	.choice_item:first-child {margin-right: 15px; margin-bottom: 15px;}
	.choice_item:last-child {margin-left: 15px;}
	.line_choice_one,
	.line_choice_two {display: none;}
	/*-------*/
	.questionnaire_contain {flex-wrap: wrap; justify-content: center;}
	.icon_arrow {display: none;}
	.questionnaire_contain p {margin-bottom: 15px; text-align: center;}
	.questionnaire_contain p br {display: block;}
	
}


@media only screen and (max-width : 630px) {
	.head_cont {padding-top: 30px !important;}
	.title_page {padding-top: 30px !important;}
	.wrapper h2 {margin-top: 20px; margin-bottom: 20px;}
	/*-------*/
	.number_h {margin-bottom: 24px;}
	/*-------*/
	.section_1 .form_input li:nth-child(2), 
	.section_1 .form_input li:first-child {width: 49%;}
	.descr_h1 p i {display: inline-block;}
	.regist_sect_1 h4 {font-size: 16px;}
	/*-------*/
	.list_question_sect_2 li {margin-bottom: 15px;}
	.eventually_h2 {margin: -23px auto 17px; font-size: 18px; line-height: 22px; padding: 7px 0 5px;}
	/*-------*/
	.check_list p,
	.check_list p span {font-size: 18px; line-height: 24px;}
	/*-------*/
	.title_sect {font-size: 21px; line-height: 27px;}
	/*-------*/
	.benefits_list {padding: 0;}
	/*-------*/
	.title_program p {font-size: 18px; line-height: 21px;}
	/*-------*/

	.choice_item:last-child:before {
		top: 24px;
		animation: animation-name 1s linear infinite;
	}
	
	-webkit-@keyframes animation-name {   
	  0% {     
	    left: -26px;  
	  }   
	  50% {     
	    left: -15px;
	  } 
	  100% {     
	    left: -26px;  
	  } 
	}
	@keyframes animation-name {   
	  0% {     
	    left: -26px;  
	  }   
	  50% {     
	    left: -15px;
	  } 
	  100% {     
	    left: -26px;  
	  } 
	}
}


@media only screen and (max-width : 580px) {
	.inner_contain_quest br {display: none;}
	.sect_6_program > p span {display: block;}
	.padd_null .head_item {position: fixed; top: 0; width: 100%; z-index: 30; background: #fff}
	.mobil_vers .container:last-child .head_item {justify-content: center;}
	.mobil_vers .logo_descr br {display: block;}
	.mobil_vers .logo_descr {font-size: 16px; line-height: 20px; text-align: left !important;}
	.mobil_vers .container:last-child .head_item {padding-bottom: 15px;}
	.title_page p {font-size: 14px; line-height: 20px;}
	.wrapper h2 {font-size: 25px; line-height: 30px;}
	.head_cont p {font-size: 16px;}
	/*--------*/
	.mobil_vers {display: block; margin-top: 55px;}
	.logo span {display: block;}
	.logo br {display: none;}
	.logo a {font-size: 13px;}
	.logo {width: 145px;}
	.number_h a {font-size: 17px;}
	.number_h {margin-bottom: 13px; padding-left: 28px;}
	.number_h i {width: 23px; height: 22px; margin-top: -13px; background: url(../images/img2.png); -webkit-background-size: cover;background-size: cover;}
	.time_h_item i {width: 18px; height: 31px; background: url(../images/img3.png) no-repeat 0 0; -webkit-background-size: cover; background-size: cover;}
	.time_h_item p {font-size: 17px; line-height: 17px;}
	.time_h_item span {font-size: 14px;}
	.desctop_vers {display: none;}
	/*---------*/
	.sect_1_displ_flex {flex-wrap: wrap;}
	.title_sect_1{min-width:initial; margin-right: 0; }
	.sect_1_h1 {margin-bottom: 29px;}
	.sect_1_h1 h1 {font-size: 24px; line-height: 33px; text-align: center;}
	.descr_h1 {
		padding-left: 0;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		box-sizing: border-box;
		align-items: flex-start;
		justify-content: center;
	}
	.descr_h1 p {font-size: 18px; line-height: 21px; padding-left: 0 !important; margin-top: -3px;}
	.descr_h1 span {font-size: 20px; line-height: 24px; min-width: 160px;}
	/*--------*/
	.regist_sect_1 {width: 100%;}
	.regist_mob form button + p {display: none;}
	.regist_sect_1 input {padding-left: 17px; padding-right: 17px;}
	.regist_sect_1 .title_sect {display: block;}
	.regist_sect_1 {display: none;}
	.regist_mob .list_regis,
	.regist_mob h4 {display: none;}
	.sect_1_h1 h1 br {display: block;}
	.regist_sect_1_mob {display: block; margin-top: px;}
	.regist_sect_1_mob h4 br {display: block;}
	.regist_sect_1_mob h4 {
		margin-bottom: 7px;
		padding: 0 15px;
		/*color: #131625;*/
		color: #3c3c3c;
		font-family: MuseoSansCyrl900, sans-serif;
		font-size: 24px;
		line-height: 28px;
		text-transform: uppercase;
		letter-spacing: 1.05px;
		text-align: center;
	}
	.bl_registr_info {padding-top: 20px; padding-bottom: 20px; background-color: #3c3c3c;}
	.bl_registr_info p {
		color: #fefefe;
		font-family: MuseoSansCyrl500, sans-serif;
		font-size: 18px;
		line-height: 23px;
	}
	.bl_registr_info .send_butt {
		height: auto;
		padding-top: 16px;
		min-height: 60px;
		margin-bottom: 12px;
		margin-top: 18px;
		color: #010101;
		font-family: MuseoSansCyrl900, sans-serif;
		font-size: 24px;
		line-height: 28.11px;
		text-transform: uppercase;
		letter-spacing: 1.83px;
	}
	.bl_registr_info span {
		display: block;
		color: #ffffff;
		font-family: MuseoSansCyrl300, sans-serif;
		font-size: 18px;
		line-height: 16px;
		letter-spacing: 0.6px;
	}
	/*--------*/
	.eventually_sect_2 {padding-left: 10px; padding-right: 10px;}
	/*--------*/
	.formats {padding-left: 15px; padding-right: 15px;}
	.bonus_price_time {padding-left: 15px; padding-right: 15px;}
	.bonus_price {flex-wrap: wrap; justify-content: center;}
	.arrow_price {margin-left: 25px; margin-right: 25px;}
	.bonus_price > span { width: 100%; text-align: center; margin-right: 0;}
	/*-------*/
	.check_list li {width: 100%; margin-right: 0; margin-bottom: 10px;}
	.check_list li:last-child {margin-bottom: 0; height: 45px;}
	.check_list li:nth-child(4) {height: 25px; margin-top: -8px; margin-bottom: 20px;}
	.arrow_check_list {margin-bottom: 0;}
	.check_list .send_butt {width: 100%;}
	/*-------*/
	.list_program {padding: 30px;}
}
@media only screen and (max-width : 530px) {
	.advantages_item {width: 100%; margin-right: 0;}
	.advan_title {align-items: center;}
	.list_advantages {margin-top: 25px;}
	.advan_title span {width: 155px;}
	.advan_title span br {display: none;}
	.advantages_item:nth-child(3) span br {display: block;}
	.advantages_item:nth-child(3) .advan_title span br{display: none;}
	.advantages_item:nth-child(3) .advan_title span {max-width: 200px; width: 195px;}
	.advantages_item {margin-bottom: 15px;}
	.icon_contain {height: initial; width: 91px; text-align: center;}
	.advan_title i {display: inline-block;}
	.advantages_item > p,
	.benefit_item p {font-size: 15px; line-height: 18px;}
	/*--------*/
	.number_exp p {font-size: 16px;}
	.number_exp span {font-size: 56px; line-height: 48px;}

}
@media only screen and (max-width : 501px) {

}
@media only screen and (max-width : 480px) {
	.sect_6_program > p br:nth-child(2) {display: none;}
	.ft_info a br {display: none;}
	.fl_copy p:first-child {float: right;}
	.sect_1_h1 {padding: 25px 15px 23px !important;}
	.benefits_list {margin-bottom: 8px;}
	.wrap_program_item {padding-bottom: 25px;}
	.descr_h1 {flex-wrap: wrap;}
	.mobil_vers { margin-top: 46px;}
	.wrap_program_item li span br {display: none;}
	.eventually_inner_cont br {display: block;}
	.mobil_vers .number_h a {font-size: 18px;}
	.mobil_vers .number_h {min-height: 45px; padding: 0;}
	.mobil_vers .number_h .send_butt {background: #3c3c3c; border: 4px solid #3c3c3c !important;}
	.mobil_vers .number_h .send_butt span {color: #fff;}
	.mobil_vers .number_h i {margin-right: 5px; width: 18px; height: 17px;}
	.mobil_vers .logo {width: 32px;}
	.mobil_vers .time_h_item p {font-size: 18px; line-height: 22px;}
	.mobil_vers .time_h_item span {font-size: 18px;}
	.mobil_vers .time_h_item i {width: 21px; height: 36px;}
	.mobil_vers .logo_descr {font-size: 18px; line-height: 22px; text-align: center;}
	.mobil_vers .container:last-child .head_item {padding-bottom: 5px;}
	.mobil_vers .logo_descr span {display: initial;}
	.sect_1_h1 h1 p {font-size: 19px; line-height: 25px;}
	.descr_h1 span {display: block; text-align: center; width: 100% !important;}
	.descr_h1 p {max-width: 275px; margin-right: auto; margin-left: auto;}
	.bl_registr_info span {font-size: 14px; line-height: 12px;}
	.regist_sect_1_mob h4 {font-size: 22px; line-height: 26px;}
	.bl_registr_info .send_butt {padding-top: 10px; min-height: 50px; margin-top: 27px; font-size: 18px;}
	/*---------*/
	.regist_sect_1 {margin-top: 0;}
	.bg_sect_2 {padding-top: 0;}
	.arrow_bottom {
		display: inline-block;
		margin-top: 24px;
		margin-bottom: 16px;
		width: 40px;
		height: 22px;
		background: url(../images/img26.png) no-repeat 0 0;
		-webkit-background-size: cover;
		background-size: cover;
	}
	/*---------*/
	.h1_title {padding-bottom: 25px;}
	.list_question_sect_2 li {padding-left: 15px;}
	.list_question_sect_2 li:before {width: 15px;}
	.h1_title span {padding: 10px 15px 8px; font-size: 18px; line-height: 23px;}
	.eventually_inner_cont p {font-size: 14px;}
	.eventually_inner_cont {padding-bottom: 22px; padding-left: 15px; padding-right: 15px;}
	/*--------*/
	.title_sect br {display: block;}
	.title_sect {font-size: 18px; line-height: 23px;}
	.section_3 .title_sect {font-size: 23px; line-height: 27px;}
	.format_title p {font-size: 19px; line-height: 24px;}
	.format_item {min-height: initial;}
	.format_title {margin-bottom: 15px;}
	.section_3 .bg_sect_3 {padding-top: 37px;}
	/*--------*/
	.choice_title {font-size: 22px;}
	/*--------*/
	
	.section_2 .container,
	.section_3 .container,
	.section_5 .container {padding: 0;}
	.number_exp {margin-bottom: 3px;}
	.number_exp p {font-family: MuseoSansCyrl500, sans-serif;}
	.experience_item > p {font-family: MuseoSansCyrl700, sans-serif;}
	.experience_item:nth-child(1), 
	.experience_item:nth-child(2) {width: 100%; padding-bottom: 55px; position: relative;}
	.experience_item:after {
		content: '';
		display: block !important;
		position: absolute;
		left: 50% !important;
		right: initial !important;
		top: initial !important;
		bottom: 19px !important;
		height: 26px !important;
		width: 6px !important;
		margin-left: -3px;
		background-color: #ffd71d;
	}
	.experience_item:last-child {margin-top: 0; margin-bottom: 0; padding-bottom: 0;}
	.experience_item:last-child:after {display: none !important;}
	.section_5 .list_advantages,
	.bonus {padding-left: 15px; padding-right: 15px;}
	/*-------*/
	.sect_6_program .title_sect {font-size: 22px; padding-top: 0 !important;}
	.wrap_program_item ul {padding-left: 30px;}
	.sect_6_program > p {font-size: 15px;}
	.list_program li {margin-bottom: 4px; padding-top: 4px;}
	.section_6 .title_sect {padding-top: 15px; padding-bottom: 15px;}
	.list_program {padding: 20px 30px;}
	/*-------*/
	.inner_contain_quest--mod {padding: 0 15px !important;}
	.inner_contain_quest--mod p {line-height: 18px;}
	.bg_sect_2 {padding-bottom: 0 !important;}
	/*------*/
	.check_list {display: none;}
	.butt_mob {display: block;}
	.section_4 {background: #3c3c3c; padding-top: 0; padding-bottom: 0;}
	.section_4 .send_butt {line-height: 20px; width: 100% !important;}
	/*--------*/
	.choice_title {
		border: none; 
		display: block;
		color: #ffd71d;
		font-family: MuseoSansCyrl700, sans-serif;
		font-size: 18px;
		background-color: #3c3c3c;
	}
	.mob_padd_null{padding: 0;}
	.choice_item:first-child:after {display: none;}
	.choice_item:last-child:before {display: none;}
	.choice_title:after {background-color: #3c3c3c;}
	.choices_two {padding-right: 15px; padding-left: 15px;}
	.choice_item {width: 100%; max-width: 100%; margin-right: 0 !important; margin-left: 0 !important;}
	.choice_item:first-child {margin-bottom: 35px; position: relative;}
	.choice_item:first-child:after {
	    content: '';
	    position: absolute;
	    left: 50%;
	    bottom: -40px;
	    top: initial;
	    width: 5px;
	    height: 35px;
	    margin-left: -2px;
	    background: #3c3c3c;
	    display: block;
	}
	.choice_item .open_win {font-family: MuseoSansCyrl900, sans-serif;}
	.number_ft span {font-size: 18px;}
	.number_ft i {width: 20px; height: 19px;}
	.number_ft {padding-left: 27px;}
	.ft_info_item:last-child {text-align: right;}
	.ft_info p {font-size: 8px; text-align: right;}
	.ft_info_item:first-child {text-align: right;}
	.ft_info {justify-content: flex-end;}
	.up_back {display: none !important;}
	footer {position: relative;}
	.section_8 {padding-bottom: 0;}
	.mob_padd_null {background: #fff; padding-bottom: 35px;}
	.up_back_mob {
		position: absolute;
		left: 25px;
		top: 25px;
		width: 22px;
		height: 12px;
		background: url(../images/img27.png) no-repeat 0 0;
		-webkit-background-size: cover;
		background-size: cover;
		cursor: pointer;
		z-index: 20;
	}


}
@media only screen and (max-width : 464px) {
	.check_list p, .check_list p span {font-size: 16px; line-height: 20px;}
}
@media only screen and (max-width : 430px) {
	header {padding-top: 15px; padding-bottom: 15px;}
	/*--------*/
	.title_sect_1 {display: block; margin-bottom: 0;}
	.sect_1_h1 h1 p {font-size: 18px; line-height: 25px;}
	.regist_sect_1_mob h4 br {display: block;}
	
	.bl_registr_info p {font-size: 15px; line-height: 20px;}
	.sect_1_h1 h1 {font-size: 25px; line-height: 34px;}
	.descr_h1 span {margin-bottom: 5px !important;}
	/*--------*/
	.inner_contain_quest i {top: 0; bottom: initial; }
	.list_question_sect_2 li:before {top: 33px; bottom: initial;}
	/*--------*/
	.section_3 .eTimer .etUnit .etNumber {width: 30px; height: 52px; font-size: 40px; line-height: 50px;}
	/*--------*/
	.section_6 .title_sect br {display: none;}
}
@media only screen and (max-width : 391px) {

}
@media only screen and (max-width : 380px) {
	.send_butt {width: 230px;}
	.send_butt span {font-size: 15px;}
	.mobil_vers .logo_descr {font-size: 12px; line-height: 16px;}
	.sect_6_program > p {padding: 0 35px;}
	.eventually_inner_cont p {font-size: 13px !important;}
	.logo {width: 130px;}
	.logo a {font-size: 12px; line-height: 15px; display: block;}
	.number_h a {font-size: 15px;}
	.number_h {margin-bottom: 7px;}
	.time_h {justify-content: space-around;}
	.time_h_item p {font-size: 15px; line-height: 15px;}
	.time_h_item span {font-size: 13px;}
	/*--------*/
	.sect_1_h1 {padding: 17px 15px 12px;}
	.descr_h1 p {padding-left: 15px;}
	.sect_1_h1 h1 {font-size: 24px; line-height: 28px; text-align: center;}
	.mobil_vers .time_h_item:first-child {margin-right: 0; text-align: right;}
	.mobil_vers .time_h_item:last-child {width: 100%; text-align: right;}
	.mobil_vers .time_h {flex-wrap: wrap; justify-content: flex-end;}
	.descr_h1 {flex-wrap: wrap;}
	.descr_h1 span {width: 100%;}
	.regist_sect_1_mob h4 {font-size: 18px;}
	.mobil_vers .time_h {width: 48%;}
	.bl_registr_info span {font-size: 13px; line-height: 16px;}
	/*--------*/
	.title_page span {display: block;}
	
	/*--------*/
	.eventually_inner_cont {padding-left: 5px; padding-right: 5px; padding-bottom: 15px;}
	/*--------*/
	.bonus_title br {display: block;}
	.format_item {padding-left: 14px; padding-right: 14px;}
	/*--------*/
	.check_list p br {display: block;}
}
@media only screen and (max-width : 340px) {
	.regist_sect_1_mob h4 {font-size: 22px; line-height: 26px;}
	.h1_title span {padding-right: 15px; padding-left: 15px;}
}
@media only screen and (max-height : 800px) {
	.title_page {padding-top: 30px !important;}
	.head_cont {padding-top: 60px;}
	.wrapper h2 {font-size: 25px; line-height: 30px; margin-top: 20px; margin-bottom: 20px;}
	.title_page p {font-size: 14px; line-height: 20px;}
}
@media all and (orientation: landscape) and (max-device-width: 1366px) and (max-device-height: 1024px) {
	
}
@media all and (orientation: landscape) and (max-device-width: 1366px) and (max-device-height: 1024px) {

}
@media all and (orientation: landscape) and (max-device-width: 1024px) and (max-device-height: 768px) {

}
@media all and (orientation: landscape) and (max-device-width: 823px) and (max-device-height: 411px) {

}
@media all and (orientation: landscape) and (max-device-width: 812px) and (max-device-height: 375px) {

}
@media all and (orientation: landscape) and (max-device-width: 736px) and (max-device-height: 414px) {

}
@media all and (orientation: landscape) and (max-device-width: 667px) and (max-device-height: 375px) {

}
@media all and (orientation: landscape) and (max-device-width: 568px) and (max-device-height: 320px) {

}
@media all and (orientation: portrait) and (max-device-width: 1024px) {

}
@media all and (orientation: portrait) and (max-device-width: 768px) and (max-device-height: 1024px) {
	.regist_sect_1_mob h4 br {display: none;}
}
@media all and (orientation: portrait) and (max-device-width: 425px) and (max-device-height: 823px) {
	.descr_h1 span {font-size: 18px; line-height: 24px; min-width: 148px; width: auto;}
	.descr_h1 {flex-wrap: wrap;}
}
@media all and (orientation: portrait) and (max-device-width: 414px) and (max-device-height: 823px) {
	.regist_sect_1_mob h4 {font-size: 18px; line-height: 22px;}
	.descr_h1 p {font-size: 17px;}
}
@media all and (orientation: portrait) and (max-device-width: 375px) and (max-device-height: 812px) {
	.descr_h1 p {font-size: 16px;}
	/*---------*/
	.call_me_win_open {bottom: 13%;}
	/*---------*/
	.regist_sect_1_mob h4 {font-size: 16px; line-height: 20px;}
	.section_8 .title_sect {padding: 0 15px;}
}
@media all and (orientation: portrait) and (max-device-width: 375px) and (max-device-height: 667px) {
	.call_me_win_open {bottom: 17%;}
	.up_back {bottom: 19%;}
}
@media all and (orientation: portrait) and (max-device-width: 320px) {
	.sect_1_h1 {padding: 17px 12px 12px;}
	.descr_h1 p {padding-left: 10px;}
	.regist_sect_1 h4 {font-size: 14px;}
	.regist_sect_1_mob h4 {font-size: 22px; line-height: 25px;}
	.bl_registr_info p {font-size: 14px;}
	.form_input input {height: 38px;}
	.call_me_win_open {bottom: 23%;}
	.up_back {bottom: 26%;}
	.descr_h1 span {font-size: 18px; line-height: 24px; min-width: 100%; width: 100%;}
	.descr_h1 {flex-wrap: wrap;}
	.sect_1_h1 h1 {font-size: 20px; line-height: 27px;}
}























