@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FontAwesome.otf')  format('opentype'),
        url('../fonts/FontAwesome.woff') format('woff'),
        url('../fonts/FontAwesome.woff2') format('woff2'),
        url('../fonts/FontAwesome.ttf')  format('truetype'),
        url('../fonts/FontAwesome.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PhilosopherBold';
  src: url('../fonts/PhilosopherBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PhilosopherBold.woff') format('woff'),
        url('../fonts/PhilosopherBold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl100';
  src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSansCyrl-100.otf')  format('opentype'),
        url('../fonts/MuseoSansCyrl-100.woff') format('woff'),
        url('../fonts/MuseoSansCyrl-100.ttf')  format('truetype'),
        url('../fonts/MuseoSansCyrl-100.svg#MuseoSansCyrl-100') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl300';
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSansCyrl-300.otf')  format('opentype'),
        url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
        url('../fonts/MuseoSansCyrl-300.ttf')  format('truetype'),
        url('../fonts/MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl500';
  src: url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSansCyrl-500.otf')  format('opentype'),
        url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
        url('../fonts/MuseoSansCyrl-500.ttf')  format('truetype'),
        url('../fonts/MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl700';
  src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSansCyrl-700.otf')  format('opentype'),
        url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
        url('../fonts/MuseoSansCyrl-700.ttf')  format('truetype'),
        url('../fonts/MuseoSansCyrl-700.svg#MuseoSansCyrl-700') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl900';
  src: url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MuseoSansCyrl-900.otf')  format('opentype'),
        url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
        url('../fonts/MuseoSansCyrl-900.ttf')  format('truetype'),
        url('../fonts/MuseoSansCyrl-900.svg#MuseoSansCyrl-900') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
html{height:100%}
body{height:100%;font:14px/18px Arial,Tahoma,sans-serif;background:#fff}
ul{list-style:none}
*{margin:0;padding:0;outline:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
a,a:hover{text-decoration:none}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
::-webkit-input-placeholder{color:#666;opacity:1}
:-moz-placeholder{color:#666;opacity:1}
::-moz-placeholder{color:#666;opacity:1}
:-ms-input-placeholder{color:#666;opacity:1}
.container{position:relative;padding:0 15px;margin:0 auto}
.fr{float:right}
.fl{float:left}
.tc{text-align:center}
.tr{text-align:right}
.tl{text-align:left}
.img-responsive{display:block;max-width:100%;max-height:100%;height:auto;-webkit-background-size:cover;background-size:cover}
input[type='number']::-webkit-inner-spin-button,input[type='number']::-webkit-outer-spin-button{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;margin:0}
input[type='number']{-webkit-appearance:textfield;-moz-appearance:textfield;-ms-appearance:textfield;-o-appearance:textfield;appearance:textfield}
input[type="search"]{box-sizing:border-box!important}
/*
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
*/


/*
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    align-items: center;

    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-ordinal-group: 2;
    box-ordinal-group: 2;
 */

/*
    -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
         -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
*/

body.overflow-hidden {
    overflow: hidden;
}

.bg_body {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 110;
    opacity: 0.5;
    background-color: #000;
}
.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}
@media (min-width:768px){.container{width:750px}}
@media (min-width:992px){.container{width:970px}}



/*header*/
.mobil_vers {display: none;}
header {
  padding-top: 45px;
  padding-bottom: 23px;
  background: url(../images/img1.png) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.logo {float: left;}
.logo a {
  color: #fff;
  font-family: MuseoSansCyrl700, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
/*------------*/
.cont_h {float: right;}
.number_h {position: relative; padding-left: 37px; margin-bottom: 54px;}
.number_h a {
  color: #ffd71d;
  font-family: MuseoSansCyrl900, sans-serif;
  font-size: 26px;
  line-height: 20px;
  text-transform: uppercase;
}
.number_h i {
  position: absolute;
  left: 0;
  top: 50%;
  width: 27px;
  height: 26px;
  margin-top: -13px;
  background: url(../images/img2.png);
}
/*----*/
.time_h {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
}
.time_h_item p {
  color: #fff;
  font-family: MuseoSansCyrl900, sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}
.time_h_item span {
  display: block;
  font-family: MuseoSansCyrl500, sans-serif;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}
.time_h_item:first-child {position: relative; padding-left: 38px;}
.time_h_item i {
  position: absolute;
  left: 0;
  top: 50%;
  width: 23px;
  height: 39px;
  margin-top: -19px;
  background: url(../images/img3.png) no-repeat 0 0;
}

/*---------------------------------*/
/*Section 1*/
/*---------------------------------*/

.sect_1_displ_flex {
  padding-bottom: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}
.section_1 .regist_mob form > br {display: none;}
.title_sect_1 {
  max-width: 560px;
  margin-left: 25px;
  border-top: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-ordinal-group: 1;
  box-ordinal-group: 1;
}
.sect_1_h1 {
  max-width: 560px;
  margin: -30px 0 40px -30px;
  padding: 46px 25px 48px 56px;
  background-color: #ffd71d;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 1, 0, 0.41);
     -moz-box-shadow: 2px 4px 10px rgba(0, 1, 0, 0.41);
      -ms-box-shadow: 2px 4px 10px rgba(0, 1, 0, 0.41);
       -o-box-shadow: 2px 4px 10px rgba(0, 1, 0, 0.41);
          box-shadow: 2px 4px 10px rgba(0, 1, 0, 0.41);
}
.sect_1_h1 h1 {
  color: #3c3c3c;
  font-family: MuseoSansCyrl900, sans-serif;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.36px;
}
.sect_1_h1 h1 p {
  margin-top: 25px;
  font-family: MuseoSansCyrl500, sans-serif;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.28px;
  text-transform: none;
}
.sect_1_h1 span {font-family: MuseoSansCyrl900, sans-serif; text-transform: uppercase;}
.descr_h1 {padding: 0 20px 12px 30px;}
.descr_h1 p {
  color: #000;
  /*font-family: MuseoSansCyrl300, sans-serif;*/
  font-family: MuseoSansCyrl500, sans-serif;
  font-size: 22px;
  line-height: 26px;
}
.descr_h1 span {
  display: block;
  margin-bottom: 15px;
  color: #000;
  font-family: MuseoSansCyrl900, sans-serif;
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
}
.descr_h1 p i {
  display: inline-block;
  padding: 0 7px 0 3px;
  /*font-family: MuseoSansCyrl700, sans-serif;*/
  font-family: MuseoSansCyrl900, sans-serif;
  background-color: #ffd71d;
}
.descr_h1 br {display: block !important;}
/*---------*/
.regist_sect_1_mob {display: none;}
.regist_sect_1 {
  width: 326px;
  margin-top: 67px;
  margin-left: 45px;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  -webkit-box-ordinal-group: 2;
  box-ordinal-group: 2;
}
.regist_sect_1 .title_sect {display: none;}
.regist_sect_1 h4 {
  color: #000;
  font-family: MuseoSansCyrl900, sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}
.list_regis {margin-bottom: 10px;}
.list_regis p {
  margin-top: 10px;
  color: #636363;
  font-family: MuseoSansCyrl100, sans-serif;
  font-size: 14px;
  line-height: 16px;
}
.list_regis li {
  margin-left: 0;
  color: #636363;
  font-family: MuseoSansCyrl100, sans-serif;
  font-size: 12px;
  line-height: 16px;
}
/*форма регистрации*/
.form_input input {
  width: 100%;
  height: 45px;
  padding: 0 17px;
  font-family: MuseoSansCyrl300, sans-serif;
  font-size: 12px;
  line-height: 34.28px;
  
}
.regist_sect_1 .form_input input {
  margin-bottom: 10px;
  border: 2px solid #8c8b8b;
  background-color: #fff;
  color: #000;
}

*.regist_sect_1 .form_input input::-webkit-input-placeholder{color:#8c8b8b;opacity:1}
*.regist_sect_1 .form_input input:-moz-placeholder{color:#8c8b8b;opacity:1}
*.regist_sect_1 .form_input input::-moz-placeholder{color:#8c8b8b;opacity:1}
*.regist_sect_1 .form_input input:-ms-input-placeholder{color:#8c8b8b;opacity:1}

.form_ic {
  display: inline-block;
  width: 25px;
  height: 13px;
  margin: 0 auto 8px;
  background: url(../images/img4.png) no-repeat 0 0;
}

.send_butt {
  display: block;
  width: 100%;
  height: 45px;
  color: #000;
  font-family: MuseoSansCyrl900, sans-serif;
  font-size: 18px;
  line-height: 28.11px;
  text-transform: uppercase;
  letter-spacing: 0.55px;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: #ffd71d;
  border: 2px solid #ffd71d;
  -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  -webkit-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
     -moz-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
      -ms-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
       -o-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
          box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
}
.send_butt:hover {
  background: #fff;
  -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}

.regist_sect_1 form p {
  margin-top: 3px;
  color: #000;
  font-family: MuseoSansCyrl300, sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
}

/*------------------------------*/
/*Section 2*/
/*------------------------------*/

.section_2 {
  background: url(../images/img5.png) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.bg_sect_2 {
  padding-top: 33px;
  padding-bottom: 30px;
  background-color: #fff;
}
.h1_title {padding: 0 60px 36px;}
.h1_title span {
  display: block;
  padding: 22px 40px 20px;
  color: #ffd71d;
  font-family: MuseoSansCyrl500, sans-serif;
  font-size: 34px;
  line-height: 38px;
  text-transform: uppercase;
  background-color: #3c3c3c;
  text-align: center;
  -webkit-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
     -moz-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
      -ms-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
       -o-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
          box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
}

.list_question_sect_2 {}
.list_question_sect_2 li {position: relative; padding-left: 70px; padding-right: 15px; margin-bottom: 30px;}
.list_question_sect_2--mod li {padding-left: 15px !important; padding-right: 15px !important; margin-bottom: 0 !important;}
.list_question_sect_2 li:first-child:before {display: none;}
.list_question_sect_2 li:before {
  content: '';
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 67px;
  height: 5px;
  background: #ffd71d;
}
.inner_contain_quest {position: relative; padding-left: 25px; }
.inner_contain_quest--mod {padding-left: 0 !important; text-align: center;}
.inner_contain_quest i {
  position: absolute;
  left: 0;
  top: 0;
  color: #ffd71d;
  font-family: MuseoSansCyrl900, sans-serif;
  font-size: 72px;
  height: 53px;
  line-height: 56px;
  text-transform: uppercase;
}
.inner_contain_quest p {
  position: relative;
  z-index: 1;
  color: #000;
  font-family: MuseoSansCyrl300, sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}
.inner_contain_quest p span {font-family: MuseoSansCyrl900, sans-serif;}

/*--------------*/
.eventually_sect_2 {margin-top: 60px; padding: 0 59px;}
.eventually_inner_cont {
  position: relative;
  padding: 0 25px 39px;
  border: 5px solid #ffd71d;
}
.eventually_inner_cont br {display: none;}
.eventually_h2 {
  max-width: 487px;
  margin: -30px auto 24px;
  color: #000;
  font-family: MuseoSansCyrl700, sans-serif;
  font-size: 30px;
  line-height: 34px;
  padding: 15px 0 11px;
  text-transform: uppercase;
  border: 5px solid #ffd71d;
  background-color: #ffd71d;
  text-align: center;
  -webkit-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
     -moz-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
      -ms-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
       -o-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
          box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
}

.eventually_inner_cont p {
  color: #000000;
  font-family: MuseoSansCyrl500, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.45px;
  text-transform: uppercase;
  text-align: center;
}







/*------------------------------*/
/*Section 3*/
/*------------------------------*/

.section_3 .bg_sect_3 {
  padding-top: 55px;
  padding-bottom: 33px;
  background-color: #ffd71d;
}
.formats {
  margin-top: 45px; 
  margin-bottom: 35px;
  padding: 0 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  align-items: end;
  justify-content: space-between;
}
.format_item {
  max-width: 375px;
  width: 100%;
  min-height: 149px;
  padding: 20px 75px 18px;
  -webkit-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
     -moz-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
      -ms-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
       -o-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
          box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  align-items: stretch;
  flex-direction:column;
  justify-content: space-between;
}
.format_title p {
  color: #010101;
  font-family: MuseoSansCyrl900, sans-serif;  
  font-size: 24px;
  line-height: 28.5px;
  text-transform: uppercase;
}
.format_title span {
  display: block;
  color: #000;
  font-family: MuseoSansCyrl900, sans-serif;  
  font-size: 16px;
  text-transform: uppercase;
}
.format_item:nth-child(2) .format_title span {
  background-color: #ffd71d;
  padding-top: 2px;
}
/*----*/
.format_item li {
  position: relative;
  padding-left: 18px;
  color: #000;
  font-family: MuseoSansCyrl100, sans-serif;  
  font-size: 14px;
  line-height: 16px;
}
.format_item li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 13px;
  height: 16px;
  background: url(../images/check.png) no-repeat 0 0;
}

/*------*/


.bonus_title {text-align: center;}
.bonus_title br {display: none;}
.bonus_title p {
  color: #000;
  font-family: MuseoSansCyrl100, sans-serif;  
  font-size: 14px;
  line-height: 16px;
}
.bonus_title span {
  color: #000;
  font-family: MuseoSansCyrl900, sans-serif;  
  font-size: 16px;
  text-transform: uppercase;
}

.bonus_price_time {
  padding: 23px 60px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
.bonus_price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
.bonus_price > span {
  margin-right: 29px;
  color: #000;
  font-family: MuseoSansCyrl900, sans-serif;  
  font-size: 16px;
  text-transform: uppercase;
}
.bonus_price p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
.bonus_price .old_price {
  position: relative;
  color: #000;
  font-family: MuseoSansCyrl900, sans-serif;  
  font-size: 24px;
}
.bonus_price .old_price:before {
  content: '';
  position: absolute;
  left: -9px;
  top: 8px;
  width: 106px;
  height: 3px;
  background: #000;
  transform: rotate(10deg);
}
.bonus_price .new_price {
  position: relative;
  color: #fff;
  font-family: MuseoSansCyrl900, sans-serif;  
  font-size: 30px;
  line-height: 32px;
  -webkit-text-shadow: 4px 3px 10px rgba(0, 1, 0, 0.23);
     -moz-text-shadow: 4px 3px 10px rgba(0, 1, 0, 0.23);
      -ms-text-shadow: 4px 3px 10px rgba(0, 1, 0, 0.23);
       -o-text-shadow: 4px 3px 10px rgba(0, 1, 0, 0.23);
          text-shadow: 4px 3px 10px rgba(0, 1, 0, 0.23);
}
.bonus_price .new_price i {
  color: #fff;
  font-family: MuseoSansCyrl900, sans-serif;  
  font-size: 18px;
  line-height: 22px;
  -webkit-text-shadow: 4px 3px 10px rgba(0, 1, 0, 0.23);
     -moz-text-shadow: 4px 3px 10px rgba(0, 1, 0, 0.23);
      -ms-text-shadow: 4px 3px 10px rgba(0, 1, 0, 0.23);
       -o-text-shadow: 4px 3px 10px rgba(0, 1, 0, 0.23);
          text-shadow: 4px 3px 10px rgba(0, 1, 0, 0.23);
}
.arrow_price {
  display: block;
  width: 8px;
  height: 15px;
  margin-left: 44px;
  margin-right: 29px;
  background: url(../images/img17.png);
  -webkit-background-size: cover;
  background-size: cover;
}

/*таймер */
.eTimer > div:nth-child(3),
.etSign,
.etDays {display: none !important;}
.section_3 .eTimer { display: inline-block;}
.section_3 .eTimer .etUnit > * {display: inline-block; vertical-align: bottom;}
.section_3 .eTimer .etUnit {
    padding: 0;
    font-size: 0;
    vertical-align: middle ;
}
.section_3 .eTimer .etTitle {display: none;}
.section_3 .eTimer {
  display: inline-block;
  color: black ;
  padding: 0;
  background: transparent;
  border: 0px solid white;
  border-radius: 0px;
  box-shadow: 0px ;
}
.section_3 .eTimer .etUnit .etNumber {
  margin: 2px;
  width: 39px;
  height: 67px;
  color: #3c3c3c;
  font-family: MuseoSansCyrl100, sans-serif ;
  font-size: 60px;
  line-height: 71px;
  text-transform: uppercase;
  -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
      -ms-border-radius: 12px;
       -o-border-radius: 12px;
          border-radius: 12px;
  -webkit-box-shadow: 4px 3px 10px rgba(0, 1, 0, 0.23);
     -moz-box-shadow: 4px 3px 10px rgba(0, 1, 0, 0.23);
      -ms-box-shadow: 4px 3px 10px rgba(0, 1, 0, 0.23);
       -o-box-shadow: 4px 3px 10px rgba(0, 1, 0, 0.23);
          box-shadow: 4px 3px 10px rgba(0, 1, 0, 0.23);
  background-color: #ffffff;
}
.section_3 .eTimer .etSep {
  display: inline-block;
  vertical-align: middle;
  height: 45px;
  color: #3c3c3c;
  font-family: MuseoSansCyrl700, sans-serif;
  font-size: 48px;
  line-height: 42px;
  padding: 0px 5px;
  -webkit-text-shadow: 4px 3px 10px rgba(0, 1, 0, 0.23);
     -moz-text-shadow: 4px 3px 10px rgba(0, 1, 0, 0.23);
      -ms-text-shadow: 4px 3px 10px rgba(0, 1, 0, 0.23);
       -o-text-shadow: 4px 3px 10px rgba(0, 1, 0, 0.23);
          text-shadow: 4px 3px 10px rgba(0, 1, 0, 0.23);
}

/*------------------------------*/
/*Section 4*/
/*------------------------------*/

.section_4 {
  padding-top: 24px;
  padding-bottom: 24px;
  background: url(../images/img6.png) no-repeat 0 0;
  -webkit-background-size: cover;
  background-size: cover;
}
.check_list .form_input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  justify-content: end;
  align-items: center;
}
.check_list li {margin-right: 25px;}
.check_list li:last-child {margin-right: 0;}
.check_list p {
  margin-bottom: 15px;
  color: #fff;
  font-family: MuseoSansCyrl700, sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.check_list p span {
  color: #ffd71d;
  font-family: MuseoSansCyrl900, sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.arrow_check_list {
  display: block;
  width: 15px;
  height: 27px;
  background: url(../images/img14.png) no-repeat 0 0;
}
.check_list input {
  width: 191px;
  border: 2px solid #ffffff;
  background-color: #959595;
  color: #000;
}
*.check_list input::-webkit-input-placeholder{color:#3e3e3e;opacity:1}
*.check_list input:-moz-placeholder{color:#3e3e3e;opacity:1}
*.check_list input::-moz-placeholder{color:#3e3e3e;opacity:1}
*.check_list input:-ms-input-placeholder{color:#3e3e3e;opacity:1}

.check_list .send_butt {
  width: 251px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.49px;
}

.check_list > span {
  display: block;
  margin-top: 10px;
  color: #fff;
  font-family: MuseoSansCyrl300, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
}

/*------------------------------*/
/*Section 5*/
/*------------------------------*/

.section_5 .title_sect {padding: 60px 15px 35px; background-color: #3c3c3c;}
.section_5 .title_sect br {display: block;}
.section_5 .title_sect.mod-title br {display: none;}
.section_5 .title_sect.mod-title {padding: 20px 15px;}

.list_experience {
  padding-top: 45px; 
  padding-bottom: 49px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  align-items: stretch;
  justify-content: space-around;
}
.experience_item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  align-items: stretch;
  flex-direction:column;
  justify-content: space-between;
}
.experience_item:nth-child(2):before {
  content: '';
  position: absolute;
  top: 21px;
  left: -148px;
  width: 148px;
  height: 5px;
  background-color: #ffd71d;
}
.experience_item:nth-child(2):after {
  content: '';
  position: absolute;
  top: 21px;
  right: -164px;
  width: 148px;
  height: 5px;
  background-color: #ffd71d;
}
.number_exp {margin-bottom: 10px;}
.number_exp span {
  display: block;
  color: #000;
  font-family: MuseoSansCyrl500, sans-serif;
  font-size: 60px;
  line-height: 45.99px;
  text-transform: uppercase;
  text-align: center;
}
.number_exp p {
  color: #000;
  font-family: MuseoSansCyrl100, sans-serif;
  font-size: 14px;
  letter-spacing: 0.35px;
  text-align: center;
}

.experience_item > p {
  color: #000;
  font-family: MuseoSansCyrl300, sans-serif;
  font-size: 14px;
  line-height: 18.08px;
  text-transform: uppercase;
  text-align: center;
}

/*--------*/

.list_advantages {
  margin-top: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}
.advantages_item {margin-bottom: 27px; margin-right: 25px;}
.advantages_item:last-child {margin-right: 0;}
.advan_title {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-start;
}
.icon_contain {height: 75px;}
.advan_title i {margin-right: 8px;display: block;}
.ic_1 {min-width: 60px; height: 68px; background: url(../images/img8.png) no-repeat 0 0;}
.ic_2 {min-width: 74px; height: 53px; background: url(../images/img9.png) no-repeat 0 0;}
.ic_3 {min-width: 83px; height: 68px; background: url(../images/img10.png) no-repeat 0 0;}
.ic_4 {min-width: 55px; height: 75px; background: url(../images/img11.png) no-repeat 0 0;}
.advan_title span {
  color: #000;
  font-family: MuseoSansCyrl300, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.advantages_item > p {
  color: #000;
  font-family: MuseoSansCyrl100, sans-serif;
  font-size: 14px;
  line-height: 16px;
}


/*------------------------------*/
/*Section 6*/
/*------------------------------*/

.section_6 {background-color: #e8e8e8;}
.section_6 .title_sect {
    padding: 25px 15px;
    background-color: #3c3c3c;

}
.title_sect {
  color: #ffd71d;
  font-family: MuseoSansCyrl700, sans-serif;
  font-size: 34px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}
.section_6 .title_sect br {display: block;}
.title_sect br {display: none;}

/*------*/

.sect_6_program {background-color: #ffd71d; padding: 55px 60px 40px;}
.sect_6_program .title_sect {background: none; color: #3c3c3c; padding-top: 0;}
.wrap_program {
  margin-bottom: 35px;
  padding: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
}
.wrap_program_item {
  max-width: 375px;
  padding: 15px 14px 15px;
  -webkit-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
     -moz-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
      -ms-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
       -o-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
          box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
  background-color: #fff;
}
.title_program {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.title_program p {
  margin-left: 16px;
  color: #3c3c3c;
  font-family: MuseoSansCyrl900, sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.title_program .icon_1 {
  display: block;
  width: 53px;
  height: 57px;
  background: url(../images/img23.png) no-repeat 0 0;  
  -webkit-background-size: cover;
  background-size: cover;
}
.title_program .icon_2 {
  display: block;
  width: 57px;
  height: 59px;
  background: url(../images/img24.png) no-repeat 0 0;  
  -webkit-background-size: cover;
  background-size: cover;
}
.wrap_program_item li {
  position: relative;
  padding-left: 15px;
  color: #000000;
  font-family: MuseoSansCyrl100, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.wrap_program_item li span {font-family: MuseoSansCyrl700, sans-serif;}
.wrap_program_item li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 13px;
  height: 16px;
  background: url(../images/img25.png) no-repeat 0 0;
}
.wrap_program_item:last-child ul:last-child {margin-top: 16px;}
.sect_6_program > p {
  padding: 0 15px;
  text-align: center;
  color: #000;
  font-family: MuseoSansCyrl500, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.sect_6_program > p span {font-family: MuseoSansCyrl900, sans-serif;}

.butt_mob {display: none;}
/*------*/

.list_program_wrap {background: #fff; border: none ; padding: 0; margin: 0;}
.list_program {
  max-width: 746px;
  margin: 0 auto ;
  padding: 46px 80px 45px ;
  background-color: #fff;
  border: none ;
}

.list_program li {
  position: relative;
  padding-left: 45px;
  padding-top: 22px;
  margin-bottom: 30px;
  color: #000;
  font-family: MuseoSansCyrl300, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.list_program li:last-child {margin-bottom: 0;}
.list_program i {
  position: absolute;
  left: 0;
  top: 0;
  width: 34px;
  height: 40px;
  background: url(../images/img12_2.png) no-repeat 0 0;
}

/*------------------------------*/
/*Section 7*/
/*------------------------------*/

.section_7 {
  background: url(../images/img6.png) no-repeat 0 0;
  -webkit-background-size: cover;
  background-size: cover;
}
.questionnaire_contain {
  padding-top: 75px;
  padding-bottom: 68px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.questionnaire_contain p {
  color: #ffd71d;
  font-family: MuseoSansCyrl900, sans-serif;
  font-size: 24px;
 line-height: 28px;
  text-transform: uppercase;
}
.questionnaire_contain p br {display: none;}
.icon_arrow {
  display: block;
  margin-left: 23px;
  margin-right: 26px;
  min-width: 66px;
  height: 27px;
  background: url(../images/img15.png) no-repeat 0 0;
}
.open_win_questionnaire {
  max-width: 257px;
}


/*------------------------------*/
/*Section 8*/
/*------------------------------*/

.section_8 {padding-top: 60px; padding-bottom: 73px;background-color: #e8e8e8;}
.section_8 .title_sect br {display: block;}
.section_8 .title_sect {color: #000;}
.benefits_list {
  margin-top: 37px;
  margin-bottom: 33px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}
.benefit_item:first-child {margin-left: 57px;}
.benefit_item {
  z-index: 1;
  margin-bottom: 30px;
  position: relative;
  padding: 15px 15px 19px 25px;
  margin-left: 100px;
  max-width: 229px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  align-items: stretch;
  flex-direction:column;
  justify-content: space-between;
  -webkit-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
     -moz-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
      -ms-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
       -o-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
          box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
  background-color: #3c3c3c;
}
.benefit_item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: -1;
  background-color: #3c3c3ce6;
}
.benefit_item:nth-child(2) span {left: -73px;}
.benefit_item:nth-child(3) span {left: -71px;}
.benefit_item span {
  position: absolute;
  left: -67px;
  top: 0;
  color: #ffd71d;
  font-family: MuseoSansCyrl700, sans-serif;
  font-size: 200px;
  line-height: 148px;
  text-transform: uppercase;
  z-index: -2;
}

.benefit_title {
  margin-bottom: 8px;
  color: #fff;
  font-family: MuseoSansCyrl700, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.benefit_item p {
  color: #fff;
  font-family: MuseoSansCyrl100, sans-serif;
  font-size: 12px;
  line-height: 16px;
}

/*-------*/

.choice_title {
  position: relative;
  display: inline-block;
  padding: 11px 30px 8px;
  color: #000;
  font-family: MuseoSansCyrl700, sans-serif;
  font-size: 34px;
  line-height: 36px;
  text-transform: uppercase;
  border: 5px solid #8b857e;
}
.choice_title:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  width: 5px;
  height: 74px;
  margin-left: -2px;
  background: #8b857e;
}
.line_choice_one {
  position: absolute;
  width: 60px;
  height: 5px;
  left: 111px;
  bottom: -79px;
  background: #8b857e;
}
.line_choice_two {
  position: absolute;
  width: 60px;
  height: 5px;
  right: 111px;
  bottom: -79px;
  background: #8b857e;
}

/*-------*/

.choices_two {
  margin-top: 39px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}
.choice_item {
  max-width: 278px;
  position: relative;
  padding: 10px 25px;
  color: #000;
  font-family: MuseoSansCyrl700, sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: 5px solid #ffd71d;
}
.choice_item:first-child {margin-right: 78px;}
.choice_item:first-child:after {
  content: '';
  position: absolute;
  top: 14px;
  right: -26px;
  width: 13px;
  height: 26px;
  background: url(../images/img16.png) no-repeat 0 0;
}
.choice_item:last-child {
  margin-left: 78px;
  padding: 0;
  border: 0;
}
.choice_item:last-child:before {
  content: '';
  position: absolute;
  top: 19px;
  left: -26px;
  width: 13px;
  height: 26px;
  background: url(../images/img17.png) no-repeat 0 0;
}
.choice_item .open_win {
  padding: 10px 5px;
  color: #000;
  font-family: MuseoSansCyrl700, sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: 5px solid #ffd71d;
  cursor: pointer;
  -webkit-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
     -moz-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
      -ms-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
       -o-box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
          box-shadow: 3px 2px 10px rgba(0, 1, 0, 0.41);
  background-color: #ffd71d;
  -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}
.choice_item .open_win:hover {
  background: none;
  -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}


/*------------------------------*/
/*FOOTER*/
/*------------------------------*/

footer {

  background-color: #2f2f2f;
}
.ft_info {
  padding-top: 24px;
  padding-bottom: 24px;
  min-height: 167px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
}
.ft_info p {
  color: #ffd71d;
  font-family: MuseoSansCyrl300, sans-serif;
  font-size: 12px;
  line-height: 16px;
}
.ft_info_item:last-child {text-align: right;}
.number_ft {display: inline-block;position: relative; padding-left: 34px; margin-bottom: 13px;}
.number_ft span {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-family: MuseoSansCyrl700, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 19.92px;
  text-transform: uppercase;
}

.number_ft i {position: absolute;
  left: 0;
  top: 50%;
  width: 27px;
  height: 26px;
  margin-top: -9px;
  background: url(../images/img2.png);
  -webkit-background-size: cover;
  background-size: cover;
}

/*------------------------------*/
/*Стрелка для скролла вверх*/
/*------------------------------*/
.up_back.active__up{display:block}
.up_back{position:fixed;display:none;left:10%;bottom:19%;width:26px;height:16px;background:url(../images/img20.png) no-repeat 0 0;cursor:pointer;z-index:20}


/*------------------------------*/
/*Плавающая кнопка перезвоните мне*/
/*------------------------------*/
.call_me_win_open.active__up{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
.call_me_win_open{position:fixed;right:8%;bottom:11%;width:134px;height:134px;z-index:20;background:url(../images/img18.png) no-repeat 0 0;cursor:pointer;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out; -webkit-background-size: cover; background-size: cover;}



/*-----------------------------------------------------------------------*/

.form_win {
  display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 120;
    padding: 30px 90px 60px 90px;
    width: 450px;
    background: #fff;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.title_formWin {text-align: center;}
.title_formWin h3 {
  color: #26272b;
  font-family: MuseoSansCyrl500, sans-serif;
  font-size: px;
  line-height: 40px;
}
.title_formWin p {
    margin-top: 12px;
    color: #26272b;
  font-family: MuseoSansCyrl300, sans-serif;
    font-size: 22px;
    line-height: 26px
}
.form_win input:active,
.form_win input:focus {border-bottom: 1px solid #383b3f;}
.form_win input {
  width: 100%;
  padding: 15px 15px 15px 0;
  color: #383b3f;
  font-family: MuseoSansCyrl100, sans-serif;
  font-size: 14px;
  line-height: 16px;
  border: none;
  border-bottom: 1px solid #848b95 !important;
  background: transparent;
}
*.form_win input::-webkit-input-placeholder {color: #848b95; opacity: 1;}
*.form_win input:-moz-placeholder           {color: #848b95; opacity: 1;}
*.form_win input::-moz-placeholder          {color: #848b95; opacity: 1;}
*.form_win input:-ms-input-placeholder      {color: #848b95; opacity: 1;}

.close_win {
    position: absolute;
    right: 10px;
    top: 10px;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

}
.close_win:hover {
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-animation-name: hover;
  animation-name: hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;

}

.close_win i {
    font-size: 28px;
    color: #ffd71d;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
         -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
}
.close_win i:hover {
    color: #000;
    -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
         -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
}


/*-----------*/
/*мобильная версия шапки*/
/*-----------*/

.mobil_vers {padding: 0; background: none; }
.mobil_vers .padd_null {padding: 0;}
.mobil_vers .container:first-child .head_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #3c3c3c;
}
.mobil_vers .logo {width: 40px; margin-left: 15px;}
.mobil_vers .number_h {
  background-color: #3c3c3c;
  min-height: 50px;
  padding: 0 15px 0 15px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.mobil_vers .number_h i {
  position: relative; 
  left: 0; 
  top: 0;
  margin-top: 0; 
  margin-right: 9px;
  width: 21px;
  height: 20px;
  background: url(../images/img2.png);
  -webkit-background-size: cover;
  background-size: cover;
}
.mobil_vers .number_h a {font-size: 23px;}
/*------*/
.mobil_vers .container:last-child .head_item {
  padding-top: 15px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
}
.mobil_vers .logo_descr {
  color: #131625;
  font-family: MuseoSansCyrl300, sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}
.mobil_vers .time_h {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
}
.mobil_vers .time_h_item i {
  width: 24px;
  height: 41px;
  background: url(../images/img22.png) no-repeat 0 0;
  -webkit-background-size: cover;
  background-size: cover;
}
.mobil_vers .time_h_item:first-child {margin-right: 15px;}
.mobil_vers .time_h_item p {
  font-size: 24px;
  line-height: 28px;
  color: #131625;
  font-family: MuseoSansCyrl900, sans-serif;
  text-transform: uppercase;
}
.mobil_vers .time_h_item span {
  font-size: 24px;
  color: #131625;
  font-family: MuseoSansCyrl500, sans-serif;
  text-transform: uppercase;
}

/*-------------------------------*/
/*Страница благодарности*/

.wrapper {
    height: 100%;
    background: #131625;
}


.head_cont {padding-top: 70px; text-align: center;}
.head_cont a {display: inline-block;}
.head_cont a img {max-width: 176px;}

.title_page {text-align: center; padding-top: 50px;}

.wrapper h2 {margin-bottom: 70px; margin-top: 70px; font: 65px/60px MuseoSansCyrl900; color: #fff; text-transform: uppercase;}
.title_page p {
    text-shadow: 0 3px 14.1px rgba(2, 2, 2, 0.64);
    font-family: MuseoSansCyrl500;
    font-size: 30px;
    line-height: 35px;
    color: white;
}
.title_page span {color: #ffd71d; }
.link_main {font: 18px/24px MuseoSansCyrl500; margin-top: 25px; color: #fff; display: inline-block; text-decoration: underline;}
.link_main:hover {text-decoration: none;}



/*--------------*/
.mmenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 111;
  background: #000000bf;
}
.mmenu .close_win {
  display: inline-block;
  position: relative;
  top: 0;
  right: 0;
  margin-top: 15px;
}
.mmenu ul {margin: 25px auto 0; max-width: 295px;}
.mmenu li {text-align: center; width: 100%; margin-bottom: 10px; padding-bottom: 15px;position: relative;
}
.mmenu li:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background: #ffd71d;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
}
.mmenu a {
  display: inline-block;
  font: 18px/24px MuseoSansCyrl500;
  color: #fff;
}


/*-------------------*/


.list_advantages .slick-prev {left: 15px; margin-top: 0; top: initial; bottom: 0;}
.list_advantages .slick-next {right: 15px; margin-top: 0; top: initial; bottom: 0;}

.list_advantages .slick-prev:hover,
.list_advantages .slick-prev:focus {opacity: 1; background: url(../images/img29.png) no-repeat 0 0;}
.list_advantages .slick-prev {width: 15px; height: 28px; background: url(../images/img29.png) no-repeat 0 0;}

.list_advantages .slick-next:hover,
.list_advantages .slick-next:focus {opacity: 1; background: url(../images/img28.png) no-repeat 0 0;}
.list_advantages .slick-next {width: 15px; height: 28px; background: url(../images/img28.png) no-repeat 0 0;}

.slick-prev:before,
.slick-next:before {display: none}















