/* Сброс */
@import url(reset.css);
/* _____ */

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url('../images/background-header.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Oswald', sans-serif;
  color: white;
}

/* Шапка */
.header {

}

/* Менюшка */
.main-menu {
  margin-top: 22px;
  padding-bottom: 23px;
  max-width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.list-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

/* Пункты меню */
.tab {
  font-size: 18px;
  line-height: 27px;
  color: #FFE345;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  margin-right: 40px;
}
.tab:not(:last-child){
  display: none;
}

/* Надпись: "ШКОЛА ЕФФЕКТИВНЫХ ЛИДЕРОВ" */
.liders-school {
  display: block;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 71px;
  margin-top: 70px;
  text-align: center;
}
.liders {
  color:#FFE345;
}

/* Блок с подарком и цветком*/

.present {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 51px;
}

/* Полупрозрачный чёрный блок */
.your-present {
  display: flex;
  width: 587px;
  height: 72px;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  position: relative;
}
/* Надпись ваш подарок */
.left-your-present {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  left: 8px;
  top: -8.5px;
}

/* Надпись 5 принципов */
.principle {
  padding-left: 47px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

/* Кнопка скачать PDF */
.download-pdf {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 15px 27px;
  margin-left: 50px;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 0px 40px rgba(236, 225, 161, 0.6);
  cursor: pointer;
}

/* Жёлтый цветок */

.flower {
  margin-left: 13px;
}

/* Информация о бонусе(скидке) */
.discount-info {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  max-width: 1002px;
  margin: 0 auto;
  margin-top: 62px;
  margin-bottom: 150px;
  padding-top: 48px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 60px;
  background: rgba(0, 0, 0, 0.4);
}
/* Текст блока о бонусе */
.info:not(:last-child) {
  margin-bottom: 20px;
}

/* Жёлтый текст в блоке о бонусе */
.bigger-yellow-text1 {
  font-size: 24px;
  line-height: 24px;
  color: #FFE345;
}
.bigger-yellow-text2 {
  font-size: 24px;
  line-height: 24px;
  color: #FFE345;
  display: block;
}

/* Кнопка получить доступ - 75% */
.get-bonus {
  text-decoration: none;
  border: none;
  background: #CC6423;
  border: 0.2px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 0px 40px rgba(236, 225, 161, 0.6);
  border-radius: 40px;
  padding: 15px 55px;
  color: white;
  position: relative;
  top: 70px;
 }